#root {
  max-width: 880px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
article{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

h1 {
  color: black;
  font-size: 4rem;
  margin-bottom: 1rem;
}

h2 {
  color: gray;
}

p {
  font-size: 1rem;
  width: 70%;

}



.read-the-docs {
  color: #888;
}